.thanks-content {
  width: 100vw;
  height: 90vh; /* إضافة لملء كامل الشاشة */
  border-radius: 10px;
  font-family: "Quicksand", serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* تم إضافة هذه الخاصية لتوسيط المحتوى */
  animation: fadeIn 1s ease-out;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 20px; /* المسافة بين الأيقونة والنص */
}

.check-icon {
  font-size: 100px;
  color: #704f38;
}

.order-success-message {
  width:90%;
  direction: rtl; /* لتأكيد أن النص يبدأ من اليمين */
  font-family: 'Arial', sans-serif; /* خط أكثر وضوحاً */
  line-height: 1.6; /* زيادة المسافة بين الأسطر */
}

.order-success-message p {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  color: #8b4513;
  margin: 10px 0; /* تعديل الهامش بين الفقرات */
  animation: fadeIn 1s ease-out;
}

.view-order-button {
  position: fixed;
  bottom: 20px;
}

.view-order-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #704f38;
  color: white;
  border: none;
  width: 96vw;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-order-btn:hover {
  transform: scale(1.05);
}

/* الأنيميشن */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* خلفية الـ Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* خلفية شفافة */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-out;
}

/* محتوى الـ Popup */
.popup-content {
  background: #fff; /* خلفية بيضاء */
  width: 80%; /* ملاءمة العرض */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: scaleUp 0.3s ease-out;
  font-family: "Quicksand", serif; /* نفس الخط */
}

/* العنوان */
.popup-content h3 {
  font-size: 20px;
  font-weight: bold;
  color: #8b4513; /* لون مشابه للعنوان */
  margin-bottom: 15px;
}

/* النص */
.popup-content p {
  font-size: 16px;
  color: #704f38; /* لون مشابه للأيقونة */
  margin-bottom: 20px;
}

/* زر التسجيل */
.signup-btn {
  background-color: #704f38; /* نفس لون زر الطلب */
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%; /* ليملأ العرض */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-btn:hover {
  transform: scale(1.05); /* تأثير عند التمرير */
}

