.wishlist-content{
  width:96vw;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
  gap:5px;
  padding-bottom: 100px;
  overflow:hidden;
  margin-top:20px;
}
.wishlist-card{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  flex-wrap:wrap;
  gap: 5px;
}
.empty-wishlist {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
  color: #999;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}